@tailwind base;
@tailwind components;
@tailwind utilities;


.text-gradient {
    background: linear-gradient(90deg, #00A6E2, #52BB72);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}